<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2,h3{
            text-align:center;
        }
        span{
            font-weight: bold;
        }
        p{
            padding-left: 400px;
        }
        body{
            background-color: black;
            color:white;
        }
    </style>
</head>
<body>
    <h2>Rules to play</h2>
    <p>1.Guess the <span>WORDLE</span> in six tries</p>
    <p>2.Each guess must be a valid five-letter word.Hit enter button to submit</p>
    <p>3.After each guess,the color of the tiles will change to show how close your guess was to the word</p>
    <p>4.A correct letter turns green</p>
    <p>5.A correct letter in the wrong place turns yellow</p>
    <p>6.An incorrect letter turns gray</p>
    <p>7.Letter can be used more than once</p>
    <a href="home"><h3 style="text-align:center">click here back to game</h3></a>
</body>
</html>