body{
    background-color: rgb(252, 243, 168);
    color:rgb(0, 0, 0);
}

h1,#a{
    text-align:center;
}


#board-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-grow:1;
    overflow:hidden
}
    
    
 #board{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap:5px;
    padding:10px;
}
    
.square{
    border:2px solid rgb(102, 95, 95);
    width:50px;
    height:50px;
    text-transform:uppercase;
    font-size:30px;
    display:flex;
    justify-content:center;
    align-items:center;
}
    
#keyboard-container{
    height:200px;
}
    
.keyboard-row{
    display:flex;
    justify-content: center;
    width:30%;
    margin:0 auto 8px;
    touch-action: manipulation;
}
    
.keyboard-row  button {
    font-family:inherit;
    font-weight:bold;
    border:0;
    padding:0;
    height:38px;
    cursor:pointer;
    flex-grow:1;
    text-transform:uppercase;
    margin-right:6px;
    border-radius:4px;
    user-select:none;
}
    
.keyboard-row button.wide-button{
    flex-grow:1.5;
}
    
.space-half{
    flex-grow:0.5
}
    
    

